h2= title
  　Log一覧
#nav
  a(href="/")戻る
ul
  for date in logs_date
    li
      a(href="/log/" + render_date(date).getFullYear() + (plus_zero(render_date(date).getMonth() + 1)) + (plus_zero(render_date(date).getDate())))
        !{render_date(date).getFullYear()}/!{render_date(date).getMonth() + 1}/!{render_date(date).getDate()}
#nav
  a(href="/")戻る
