body {
	background-color: #004040;
	color: #EEEEEE;
}

a {
	text-decoration: underline;
}

a:link {
	color: #eeffee;
}

a:visited {
	color: #dddddd;
}

form p {
    padding: 0px;
    margin: 0px;
}

p.user {
	margin-top:0.8em;
	font-size:80%;
}

.postitem {
	padding: 12px;
	padding-left: 0px;
	padding-right: 0px;
	border-bottom: solid 2px #EEEEEE;
}

.postitem.new {
	background-color: #002020;
}

.postitem p {
	margin:0px;
}

.postitem pre {
	margin-left: 4em;
}

.postitem .date {
	font-size:0.8em;
}

#post_parmament {
	margin:12px;
	border:6px solid #002020;
}

#post_parmament h4 {
	background-color:#002020;
	margin:0px;
	padding:12px;
}

#post_parmament .postitem {
	margin:0px;
	padding:12px;
	border:none;
}

.quote {
	color:#999999;
}

.whiteline {
	padding:0px;
	margin:0px;
	margin-top:6px;
	margin-bottom:6px;
	border-bottom: 2px solid white;
}

#nav {
	background-color:#008080;
	padding:5px;
	font-weight: bold;
	border-bottom: 2px solid #006060;
	border-left: 10px solid #006060;
}
